* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Onest', sans-serif; /* Используем Onest как основной шрифт */
  background-color: #00040D;
  color: #FFFFFF;
}

.App {
  min-height: 100vh; /* Минимальная высота, чтобы фон занимал весь экран */
  display: flex;
  flex-direction: column; /* Для вертикального расположения Calculator */
  align-items: center; /* Центрирование Calculator по горизонтали */
  padding-top: 20px; /* Небольшой отступ сверху */
}